html {
	margin: 0;
	padding: 0;
	
}
body {
	background: #f3f0eb url();
	background-image: url(https://iili.io/oTnx0g.png);
	background-repeat: no-repeat;
	background-size: 46.3%;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	color: #5F3E2F;
	font: 11px verdana, sans-serif;
	margin: 0px;
	padding: 2px 0px 20px 0px;
	
}
a {
	color: #ece3de;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #1D110B;
	text-decoration: underline;
}
img {
	position: center;
	border: 0px;
}
#wrapper {
	width: 878px;
	margin: auto;
	margin-top: 0;
	text-align: left;
	
}
#header p {
	font-size:18px;
	font-style:italic;
	color:#FFFFFF;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#header p.more {
	padding-right: 22px;
}
#header {
	height: 110px;
	background: url(https://iili.io/oTCjKg.png) no-repeat;
	background-size: cover;
	margin-top: 0;
}
#header div {
	padding: 183px 213px 0px 82px;
}
#header p {
	margin: 0px;
	padding: 0px;
}
#header a {
	color:#FFFFFF;
}
#nav {
	width: 878px;
	height:48px;
	margin: 0px 0px 0px 10px;
	background-image:url();
	display:inline;
	float:left;
	
}
#nav a {
	background-color: blue;
	font-size:18px;
	font-style:bolder;
	color: white;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 15px 0px 10px 0px;
	padding: 0px 25px 0px 23px;
	display:inline;
	float:left;
	border-right-width: 4px;
	border-right-style: inset;
	border-right-color: #76644f;
}
#nav a:hover {
	color:#f7f30b;
	text-decoration:none;
}
.lastchild {
	border-right: none 0px !important;
}
#body {
	background: url() repeat-y;
	clear: both;
	width: 100%;
}
#body-top {
	background: url() no-repeat;
	width: fit-content;
	height: fit-content;
}
#body-bot {
	background: bottom url() no-repeat;
	padding: 21px 25px 15px 42px;
}
#about-box {
	float: left;
	width: 315px;
}
#about-box ul {
	margin-left: 8px;
}
#express-box {
	float: right;
	width: 327px;
}
#foot {
	width: 738px;
	margin-left: 20px;
	background: url() repeat-y;
}
#foot-top {
	background: url() no-repeat;
	
}
#foot-bot {
	background: bottom url() no-repeat;
	padding: 13px 21px 12px 28px;
}
#what-box {
	float: left;
	width: 332px;
}
#what-box img.left {
	margin-left: 10px;
}
#what-box ul {
	float: left;
	margin-left: 2px;
	width: 184px;
}
#news-box {
	float: right;
	width: 316px;
}
#news-box ul {
	float: left;
	margin-left: 2px;
	width: 184px;
}
#footer {
	background-image: url();
	margin: 14px;
	text-align: center;
}
h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;

	color:#862e06;
}
h2 b{
	color:#341c12;
}


p {
	margin-top: 0px;
	margin-bottom: 10px;
}
div.narrow-text {
	margin-right: 18px;
}
img.left {
	float: left;
	padding-right: 14px;
	padding-bottom: 16px;
}

#body p.more {
	padding-top: 6px;
}
#news-box p.more {
	padding-top: 0px;
	margin-top: 0px;
}
p.more {
	text-align: right;
}
.clear {
	clear: both;
}
